@model IEnumerable<AjaxCRUD_MVC.Models.Transaction>


<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AccountNumber)</th>
            <th>@Html.DisplayNameFor(model => model.BeneficiaryName)</th>
            <th>@Html.DisplayNameFor(model => model.BankName)</th>
            <th>@Html.DisplayNameFor(model => model.SwiftCode)</th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>
            <th>
                <a onclick="ShowInPopup('@Url.Action("Create", "Transaction", Context.Request.Scheme)','New Transaction')" class="btn btn-success text-white">
                    <i class="fas fa-random"></i> New Transaction
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.BeneficiaryName)</td>
                <td>@Html.DisplayFor(modelItem => item.BankName)</td>
                <td>@Html.DisplayFor(modelItem => item.SwiftCode)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>
                    <a onclick="ShowInPopup('@Url.Action("Details", "Transaction", new { id = item.Id })','Transaction Details')" class="btn btn-sm btn-info">
                        <i class="fa fa-info-circle"></i> Details
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                        <i class="fa fa-trash"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
